<aside class="aside">
	<a href="{{ site.invite.slack }}" target="_blank" rel="nofollow">
		{% include "../assets/svg/slack.svg" %}
	</a>
	<a href="{{ site.invite.discord }}" target="_blank" rel="nofollow">
		{% include "../assets/svg/discord.svg" %}
	</a>
	<a href="https://kommunity.com/jamstack/about" target="_blank" rel="nofollow">
		{% include "../assets/svg/twitter.svg" %}
	</a>
	<a href="https://twitter.com/Jamstack_IST" target="_blank" rel="nofollow">
		{% include "../assets/svg/kommunity.svg" %}
	</a>
	<a href="{{ site.invite.linkedin }}" target="_blank" rel="nofollow">
		{% include "../assets/svg/linkedin.svg" %}
	</a>
</aside>