.home {
	--home-width: 600px;
	--home-height: 600px;

	@media (max-width: 1225px) {
		--home-width: 320px;
		--home-height: 320px;
	}

	@media (max-width: 480px) {
		display: none;
	}

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	max-width: 1200px;
	min-height: var(--home-height);


	&::before {
		position: absolute;
		z-index: 0;

		content: "";
		display: block;

		width: var(--home-width);
		height: var(--home-height);

		border-radius: 50%;

		background-color: var(--color-pink);

	}

	&__title {
		z-index: 1;

		margin: 0;
		padding: 0;

		font-size: 200px;
		line-height: 240px;
		text-transform: uppercase;

		@media (max-width: 1225px) {
			font-size: 8ch;
			line-height: 2ch;
		}
	}

	&__subtitle {
		z-index: 1;

		margin: 0;
		padding: 0;

		font-size: 8ch;
		line-height: 1ch;
		text-transform: uppercase;
	}

}