*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--color-dark: #0E1E25;
	--color-light: #fff;
	--color-pink: #F0047F;

	--background-color: var(--color-dark);
	--text-color: var(--color-light);
	--text-link-background-color: transparent;
	--text-link-color: var(--color-light);

	--aside-background-color: var(--color-light);
	--aside-text-color: var(--color-dark);

	font-size: 16px;
}

html,
body {
	margin: 0;
	padding: 0;

	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-style: normal;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	width: 100%;
	height: -webkit-fill-available;
}

body {
	width: 100%;
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

main {
	font-size: 1rem;
}